[Journal]
Storage=volatile
Compress=yes
Seal=no
SplitMode=uid
SyncIntervalSec=10s
SystemMaxUse=10G
SystemKeepFree=12G
RuntimeMaxUse=128M
RuntimeMaxFileSize=16M
MaxRetentionSec=3month
MaxFileSec=1week
ForwardToSyslog=no
ForwardToConsole=yes
ForwardToWall=yes
TTYPath=/dev/console
MaxLevelStore=debug
MaxLevelSyslog=debug
MaxLevelKMsg=notice
MaxLevelConsole=info
MaxLevelWall=emerg
LineMax=48K