---
- name: Install nginx on the web server
  hosts: web
  become: yes

  roles:
    - install_nginx

- name: Install log server
  hosts: log
  become: yes

  tasks:
    - name: Install systemd-journal-gateway 
      yum:
        name: systemd-journal-gateway
        state: installed
        update_cache: yes

    - name: Create a /var/log/journal/remote remote directory 
      file:
        path: /var/log/journal/remote
        state: directory
        mode: '0755'
        owner: systemd-journal-remote
        group: systemd-journal-remote

    - name: Edit systemd-journal-remote.service unit
      replace:
        path: /lib/systemd/system/systemd-journal-remote.service
        regexp: 'https'
        replace: 'http'

    - name: Run systemd-journal-remote service
      systemd:
        name: systemd-journal-remote
        state: started


- name: Install log system on the web server
  hosts: web
  become: yes

  tasks:
    - name: Install systemd-journal-gateway 
      yum:
        name: systemd-journal-gateway
        state: installed
        update_cache: yes

    - name: Add journal-upload config
      blockinfile:
        path: /etc/systemd/journal-upload.conf.d/webserver.conf
        block: |
          [Upload]
          URL=http://{{hostvars['log']['ip_addr']}}:19532
        owner: systemd-journal-upload
        group: systemd-journal-upload
        create: yes

    - name: Add journald.conf config
      template:
        src: journald.conf.j2
        dest: /etc/systemd/journald.conf
        owner: root
        group: root
        mode: 0644

    - name: Restart systemd-journald service
      systemd:
        service: systemd-journald
        state: restarted

    - name: Run systemd-journal-upload service
      systemd:
        name: systemd-journal-upload
        state: started

    - name: Add audit logs for nginx
      lineinfile:
        path: /etc/audit/rules.d/audit.rules
        line: -w /etc/nginx/ -p wa -k nginx

    - name: Restart auditd daemon
      command: "service auditd restart"

    - name: Configure nginx
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf

    - name: Reload nginx
      systemd:
        service: nginx
        state: reloaded
